* {
  box-sizing: border-box;
}

.App {
  padding: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: #ffffff;
}

.maxValue {
  color: red;
}

.wrapper {
  border: 5px solid rgb(248, 142, 123);
  padding: 30px;
  max-width: 400px;
  border-radius: 5px;
  width: 370px;
}

.value {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  font-weight: 700;
  background-color: rgb(248, 142, 123);
  border-radius: 5px;
  min-height: 110px;
}

.message {
  font-size: 18px;
}

.message.error {
  color: rgba(255, 0, 0, 0.802);
}

.wrapperButtons {
  margin-top: 20px;
  border: 3px solid rgb(248, 142, 123);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: inline-block;
  width: 80px;
  background-color: transparent;
  border: none;
  background-color: rgb(40, 184, 227);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.inputs {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid rgb(248, 142, 123);
  border-radius: 5px;
  min-height: 110px;
}

.input {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  text-align: center;
}

input.error {
  background-color: rgba(255, 0, 0, 0.802);
  background-color: 2px solid rgba(255, 0, 0, 0.802);
  color: #fff;
}

.input label {
  text-wrap: nowrap;
  color: rgb(248, 142, 123);
  font-size: 20px;
  font-weight: 500;
}

input {
  max-width: 100px;
  color: rgb(248, 142, 123);
  border: 2px solid rgb(248, 142, 123);
  border-radius: 5px;
  text-align: center;
}
